<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Lists Directory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>
<div class="container" sec:author>
    <h3>Product Lists Directory</h3>
    <hr>
    <div>

        <form th:action="@{/shoppinglists/{userId}/showProductLists(userId=${userId})}"
              method="GET"
              class="form-horizontal">
            <div class="input-group mb-3">
                <input type="text" th:name="listName" class="form-control" th:placeholder="${param.listName}?${param.listName}:'List Name'"
                       aria-label="Username" aria-describedby="basic-addon1">

            </div>
        <input type="submit" value="Search" class="btn btn-primary btn-sm mb-3" />
            <a th:href="@{/shoppinglists/{userId}/showProductLists(userId=${userId})}"
               class="btn btn-primary btn-sm mb-3">
                Reset
            </a>
        </form>

        <a th:href="@{/shoppinglists/{userId}/showFormForAdd(userId=${userId})}"
           class="btn btn-primary">
            Add List
        </a>
        <br>
        <br>

    </div>

    <table class="table table-bordered table-striped" >
        <thead class="table-primary" th:each="temp:${productListNames}">
            <tr>
              <th>
                  <a th:href="@{/shoppinglists/{userId}/showProductLists(userId=${userId})}" th:text="${temp.displayName}"></a>
              </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

                <th>Add</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>


        </thead>



        <tbody th:each="temp:${productLists}">
            <tr class="table-info">
                <td >
                    <a th:href="@{/shoppinglists/{userId}/showProductLists/{listId}(userId=${userId},listId=${temp.id})}" th:text="${temp.title}"></a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <!-- Add "update" button/link -->
                    <a th:href="@{/shoppinglists/showFormForUpdate(productListId=${temp.id})}" class="btn btn-info btn-sm">Update</a>
                </td>

                <td>
                    <!-- Add "delete" button/link -->
                    <a th:href="@{/shoppinglists/delete(productListId=${temp.id})}"
                       class="btn btn-danger btn-sm"
                       onclick="if (!(confirm('Are you sure you want to delete this list?'))) return false">
                        Delete
                    </a>
                </td>

            </tr>

                <div th:each="header:${productNames}">
                    <td  class="table-success" >
                        <a th:href="@{/shoppinglists/{userId}/showProductLists/{listId}(userId=${userId},listId=${temp.id},sort=${header.value})}" th:text="${header.displayName}"/>
                    </td>
                </div>

                <td class="table-success">
                    <!-- Add "add" button/link -->
                    <a th:href="@{/products/showFormForAdd/{listId}(listId=${temp.id})}" class="btn btn-warning btn-sm">Add Product</a>

                </td>
                <td class="table-success" />
                <td class="table-success" />

            <tr th:each="product:${temp.products}" >
                <td th:text="${product.productName}"/>
                <td th:text="${product.amount}"/>
                <td th:text="${product.pricePerPiece}"/>
                <td th:with="amount=${product.amount},pricePerPiece=${product.pricePerPiece},total=${amount*pricePerPiece}"
                    th:text="${#numbers.formatDecimal(total, 1, 'COMMA', 2, 'POINT')}"/>
                <td th:text="${product.currency}"/>
                <td></td>

                <td>
                    <!-- Add "update" button/link -->
                    <a th:href="@{/products/{userId}/showFormForUpdate(userId=${userId},productId=${product.id})}" class="btn btn-info btn-sm">Update</a>
                </td>

                <td>
                    <!-- Add "delete" button/link -->
                    <a th:href="@{/products/{userId}/delete(userId=${userId},productId=${product.id})}"
                       class="btn btn-danger btn-sm"
                       onclick="if (!(confirm('Are you sure you want to delete this product?'))) return false">
                        Delete
                    </a>
                </td>
            </tr>
            <tr>
                <td>Total</td>
                <td/>
                <td/>
                <block th:each="sum:${sumsMap}" >
                    <td th:if="${temp.id==sum.key}" th:text="${#numbers.formatDecimal(sum.value, 1, 'COMMA', 2, 'POINT')}"/>
                </block>
                <td/>
                <td/>
                <td/>
                <td/>
            </tr>

        </tbody>

    </table>


    <a th:href="@{/}"
       class="btn btn-primary btn-sm mb-3">
        Back to Account Details
    </a>

    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

    </form>

</div>
</body>
</html>