<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Lists Directory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h3>Product Lists Directory</h3>
    <hr>
    <!--Add a button -->
    <div>

        <form th:action="@{/shoppinglists/showProductLists/{userId}(userId=${userId})}"
              method="GET"
              class="form-horizontal">
            <div class="input-group mb-3">
                <input type="text" th:name="name" class="form-control" th:placeholder="${listName}?${listName}:'List Name'"
                       aria-label="Username" aria-describedby="basic-addon1">
                <input type="hidden" th:value="${name}">
            </div>
        <input type="submit" value="Search" class="btn btn-primary btn-sm mb-3" />
            <a th:href="@{/shoppinglists/showLists}"
               class="btn btn-primary btn-sm mb-3">
                Reset
            </a>
        </form>

        <a th:href="@{/shoppinglists/showFormForAdd}"
           class="btn btn-primary btn-sm mb-3">
            Add List
        </a>
    </div>

    <table class="table table-bordered table-striped" >
        <thead class="table-primary" th:each="temp:${productListNames}">
            <tr>
              <th>
                  <a th:href="@{/shoppinglists/showProductLists/{userId}(userId=${userId})}" th:text="${temp.displayName}"></a>
              </th>
                <th/>
                <th/>
                <th/>

                <th>Update</th>
                <th>Delete</th>
            </tr>


        </thead>



        <tbody th:each="temp:${productLists}">
            <tr>
                <td th:text="${temp.title}"/>
                <td/>
                <td/>
                <td/>
                <td>
                    <!-- Add "update" button/link -->
                    <a th:href="@{/shoppinglists/showFormForUpdate(productListId=${temp.id})}" class="btn btn-info btn-sm">Update</a>
                </td>

                <td>
                    <!-- Add "delete" button/link -->
                    <a th:href="@{/shoppinglists/delete(productListId=${temp.id})}"
                       class="btn btn-danger btn-sm"
                       onclick="if (!(confirm('Are you sure you want to delete this list?'))) return false">
                        Delete
                    </a>
                </td>

            </tr>
            <div >
                <div th:each="header:${productNames}"  >
                    <td class="table-info">
                        <a th:href="@{/shoppinglists/showProductLists/{userId}/{listId}(userId=${userId},listId=${temp.id},sort=${header.value})}" th:text="${header.displayName}"/>
                    </td>
                </div>

                <td class="table-info" />
                <td class="table-info"/>
            </div>
            <tr th:each="product:${temp.products}" >
                <td th:text="${product.productName}"/>
                <td th:text="${product.amount}"/>
                <td th:text="${product.pricePerPiece}"/>
                <td th:text="${product.currency}"/>
                <td>
                    <!-- Add "update" button/link -->
                    <a th:href="@{/products/showFormForUpdate(productId=${product.id})}" class="btn btn-info btn-sm">Update</a>
                </td>

                <td>
                    <!-- Add "delete" button/link -->
                    <a th:href="@{/products/delete(productId=${product.id})}"
                       class="btn btn-danger btn-sm"
                       onclick="if (!(confirm('Are you sure you want to delete this product?'))) return false">
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>

    </table>


    <a th:href="@{/}"
       class="btn btn-primary btn-sm mb-3">
        Back to Account Details
    </a>

    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

    </form>

</div>
</body>
</html>