<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title> Company Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="mainbox" style="margin-top: 50px;margin-left:50px">
	<p class="display-1">Welcome to Application</p>


	<hr>
	
	<p>

		Welcome to home page!

	</p>
	
	<hr>

		User: <span sec:authentication="name"></span>
		<br>
		Roles: <span sec:authentication="principal.authorities"></span>
		<br>

		<!-- Check for login error -->																	
		<div th:if="${session.user}"  >
			<p th:text="'First name: ' + ${session.user.firstName} "class="display-6"></p>
			<p th:text="'Last name: ' + ${session.user.lastName} "class="display-6"></p>
			<p th:text="'Email: ' + ${session.user.email}"class="display-6"></p>
			<p>
				<a th:href="@{/shoppinglists/{userId}/showProductLists(userId=${session.user.id})}" class="btn btn-info ">
					Show your Product Lists</a>
			</p>
		</div>
	<br>
	<a th:href="@{/users/showFormForUpdate(userId=${session.user.id})}"
	   class="btn btn-info btn-sm">
		Update your profile
	</a>

	<br>
	<br>
		<div sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_ADMIN')">

			<p>
				<a th:href="@{/users/showUsers}" class="btn btn-info ">Show all users</a>

			</p>

		</div>

	<hr>
	
	
	<!-- Add a logout button -->
	<form th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" />
	
	</form>
	</div>
</div>

</body>

</html>









